.search-b{
	position: relative;
	clear: both;
	height: 50px;
	width: 900px;
	background: blue;
}
.search-b input{
	margin-top: 5px;
	margin-left: 20px;
	width: 300px;
	height: 40px;
}
.search-b i{
	position: relative;
	right: 32px;
}
.search-b select{
	/*display: inline-block;*/
    background: gray;
    height: 50px;
    padding: 0 5px;
    font-weight: bold;
    margin-left: 25px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}
.suggest{
	margin: 25px 0;
}
.suggest h4{
	font-size: 22px;
	margin-left: 20px;
	margin-bottom: 15px;
}
.suggest b{
	margin-left: 20px;
}
table, tr, td {
	background: white;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	color: black;
	text-align: center;
}
.suggest2{
	font-size: 22px;
	margin-left: 20px;
	margin-bottom: 15px;
}
.suggest3{
	font-size: 18px;
	margin-left: 20px;
	margin-bottom: 15px;
}